$primary: #262626;
$white: #FFFFFF;
$border-color: #83C1FA;
$line-color: #C4C4C4;

$gray-1: #333333;
$gray-2: #4F4F4F;
$gray-3: #828282;

$link-number-color: #4F4F4F;





$minWidth: 320px;
$fontFamily: -apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

$small: 576px;
$medium: 768px;
$large: 1200px;