.btn-view {
    width: 130px;
    height: 130px;

    border-radius: 50%;
    border: none;
    background-color: $white;
    border: 1px solid $border-color;

    font-family: BebasNeueRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: $gray-1;

}