.btn {
    width: 263px;
    height: 65px;
    

    background-color: transparent;
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: 60px;

    &:hover {
        background-color: $border-color;
    }

    &__link {
        font-family: BebasNeueBold;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        
        
        text-align: left;
        

        color: $white;
        text-decoration: none;
        text-transform: uppercase;

        
    }
}

.btn-view {
    width: 130px;
    height: 130px;

    border-radius: 50%;
    border: none;
    background-color: $white;
    border: 1px solid $border-color;

    font-family: BebasNeueRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: $gray-1;
}

.back-btn {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 1px solid $white;
    background-color: transparent;

    font-family: BebasNeueRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: $white;
    text-transform: uppercase;
}

.further-btn {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 1px solid $white;
    background-color: transparent;

    font-family: BebasNeueRegular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: $white;
    text-transform: uppercase;
}