.specializations {
    display: flex;

    width: auto;
    border-bottom: 1px solid $line-color;
    margin-bottom: 50px;

    .caption {
        width: 50%;
    }
    
    .number-list {
        width: 50%;
    }
}